body {
    font-family: 'Barlow', sans-serif;
    font-size: 14px;
    background-color: #EFF6FF;
}

.login-page__right-container__title h1 {
    font-size: 24px;
    color: #2A4A5C;
}

.secondary-title h2 {
    color: #2A4A5C;
}

.login-page__right-container__title h3,
.secondary-title h4 {
    color: #7B8A92;
}

.login-page {
    display: grid;
    grid-template-columns: 630px 570px;
    max-width: 1200px;
    margin: 40px auto;
    background-color: white;
}

.login-page__right-container {
    margin: 0;
    padding: 80px 70px;
}

.login-page__left-container {
    margin: 0;
    background-image: url("../img/bg.jpg");
}

.login-page__left-container img {
    padding: 30px;
}

.socials {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    padding-bottom: 30px;
}

.socials button {
    appearance: none;
    min-width: 200px;
    border: 0;
    color: white;
    padding: 9px 16px;
    padding-left: 10px;
    font-family: inherit;
    font-size: 0.85em;
    cursor: pointer;
    display: flex;
    align-items: start;
}

.facebook {
    background-color: #255A9B;
}

.linkedin {
    background-color: #0076B6;
}

.button-name {
    padding-left: 15px;
}

.small-text {
    text-align: center;
    padding: 30px;
}

.small-text span {
    font-size: 0.8em;
    font-weight: 400;
    padding-left: 10px;
    padding-right: 10px;
}

.small-text hr {
    display: inline-block;
    vertical-align: middle;
    width: 25%;
    border-color: #EEEEEE;
}

.form-inputs {
    display: flex;
    gap: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.form-inputs__field {
    border-width: 1px;
    border-color: #AFAFAF;
    height: 30px;
    width: 180px;
}

input[type=text] {
    padding: 2px;
    border: 0;
    height: 15px;
    outline: 0;
}

.form-inputs label {
    color: #AFAFAF;
    font-weight: 700;
}

.radio-buttons {
    display: flex;
    gap: 35px;
    padding-top: 30px;
    padding-bottom: 20px;
}

.radio-buttons label {
    font-weight: 700;
    color: black;
    padding-left: 3px;
}

.tooltip-text {
    width: 195px;
    padding: 10px;
    font-size: 0.8em;
    color: #7B8A92;
    box-shadow: 5px 5px 15px 3px #EEEEEE;
}

.cehckbox-container {
    color: #7B8A92;
    font-size: 0.9em;
    padding-top: 30px;
    padding-bottom: 30px;
}

.cehckbox-container label {
    padding-left: 5px;
}

.submit-button-container {
    padding-top: 20px;
}

.submit-button {
    appearance: none;
    min-width: 200px;
    border: 0;
    border-radius: 3px;
    color: white;
    padding: 9px 16px;
    font-family: inherit;
    font-size: 0.8em;
    font-weight: 700;
    cursor: pointer;
    background-color: #3698FB;
}